In [2]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split, cross_val_score, cross_validate
from sklearn.preprocessing import OneHotEncoder, StandardScaler, PolynomialFeatures
from sklearn.impute import SimpleImputer, MissingIndicator
from sklearn.linear_model import LogisticRegression
from sklearn.compose import ColumnTransformer
from sklearn.dummy import DummyRegressor
from sklearn.pipeline import Pipeline

import matplotlib as plt
import seaborn as sns
%matplotlib inline

pd.options.display.max_columns = 50

In [12]:
features = pd.read_csv('data/x_train.csv').drop(['date_recorded', 'num_private', 'region', 'scheme_management', 
                                                 'extraction_type_class', 'extraction_type_group', 'payment', 'quality_group', 
                                                 'quantity_group', 'source_type', 'waterpoint_type_group'], axis=1)
labels = pd.read_csv('data/y_train.csv')

# master dataframe
df = features.merge(labels, on='id').drop('id', axis=1)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 0 to 59399
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   amount_tsh         59400 non-null  float64
 1   funder             55765 non-null  object
 2   gps_height         59400 non-null  int64
 3   installer          55745 non-null  object
 4   longitude          59400 non-null  float64
 5   latitude           59400 non-null  float64
 6   wpt_name           59400 non-null  object
 7   basin              59400 non-null  object
 8   subvillage         59029 non-null  object
 9   region_code        59400 non-null  int64
 10  district_code      59400 non-null  int64
 11  lga                59400 non-null  object
 12  ward               59400 non-null  object
 13  population         59400 non-null  int64
 14  public_meeting     56066 non-null  object
 15  recorded_by        59400 non-null  object
 16  scheme_name        31234 non-null  object
 17  permit             56344 non-null  object
 18  construction_year  59400 non-null  int64
 19  extraction_type    59400 non-null  object
 20  management         59400 non-null  object
 21  management_group   59400 non-null  object
 22  payment_type       59400 non-null  object
 23  water_quality      59400 non-null  object
 24  quantity           59400 non-null  object
 25  source             59400 non-null  object
 26  source_class       59400 non-null  object
 27  waterpoint_type    59400 non-null  object
 28  status_group       59400 non-null  object
dtypes: float64(3), int64(5), object(21)
memory usage: 13.6+ MB

In [ ]:
# get numeric and object columns
ncols

In [ ]:
# create X and y
X = df.drop('status_group', axis=1)
y = df.status_group

# split into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)